<h2>Leaderboard</h2>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Total score</th>
  </tr>
  <% status = {rank: 1, previous_score: 0 } %>
  <% @players.each_with_object status do |player, status| %>
    <% if player.total_score < status[:previous_score] %>
      <% status[:rank] = status[:rank] + 1 %>
    <% end %>
    <%  status[:previous_score] = player.total_score %>
    <tr>
      <td><%= status[:rank] %></td>
      <td><%= player.name %></td>
      <td><%= player.total_score %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @players %>