<h1>Table Settings</h1>

<form action="/settings/update", method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label for="table_settings_goals">Max Goals</label>
  <input type="text" name="table_settings[goals]" value="<%= @settings.goals %>" id="table_settings_goals">
  <label for="table_settings_advantages">Goal Advantages</label>
  <input type="text" name="table_settings[advantages]" value="<%= @settings.advantages %>" id="table_settings_advantages">
  <!-- label for="table_settings_max_minutes">Max Minutes per Match</label>
  <input type="text" name="table_settings[max_minutes]" value="<%= @settings.max_minutes %>" id="table_settings_max_minutes"> -->
  <input type="submit">
</form>