<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Admin - Biliarduino </title>
  <script src="/js/jquery.js"></script>
    <link href="/css/admin.css" media="all" rel="stylesheet" />
</head>
<body>
  <nav>
    <a href="/">Match</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/settings">Settings</a>
    <a href="/players">Players</a>
  </nav>

  <% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
  <% end %>

  <%= yield %>

  <footer>
    <p>&copy; <a href="https://www.mikamai.com"><img src="/images/mikamai.png" alt="Mikamai"> 2013</a></p>
  </footer>
</body>
</html>