<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Admin - Biliarduino </title>
  <script src="/js/jquery.js"></script>
</head>
<body>
  <nav>
    <a href="/">Match</a>
    <a href="/settings">Settings</a>
    <a href="/players">Players</a>
  </nav>
  <% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <footer><p>&copy; <a href="https://www.mikamai.com">MIKAMAI 2013</a></
</body>
</html>